.btn-check:disabled ~ .btn {
  background-color: red;
  border-color: red;
  color: white;
}

.disabled-seat {
  background-color: red;
  border-color: red;
  color: white;
}

.custom-disabled-button {
color: gray;
cursor: not-allowed;
opacity: 1 !important;
pointer-events: none;
}

.reserved-seat {
  background-color: green;
  border-color: green;
  color: white;
}

.taken-seat{
  background-color: green;
  border-width: 3px;
  border-color: red;
  color: white;
}

